<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="Desarrolador Jaime Sazo" />
<!-- <link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/main.css" /> -->
 <!--Inter UI font-->
 <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

 <!--vendors styles-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

  <!-- Bootstrap CSS / Color Scheme -->
  <link rel="stylesheet" href="css/default.css" id="theme-color">
<title>Comunidad App</title>